<!DOCTYPE html>
<html>
  <head>
    <title><%= movie.Title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= movie.Title %></h1>
    <p>Released in <%= movie.Released %></p>
    <img src="<%= movie.Poster %>" />

  </body>
</html>
